*
{
	margin: 0;
	font-family: "Montserrat", sans-serif;
	padding: 6px;
}
.Avt
{
	position: fixed;
	width: 40%;
	background-size: cover;
	background-position: center;
	min-height: 100%;
	left: 0;
	top: 0;
	padding: 0;
}
.fa-bars
{
	position: fixed;
	top: 0;
	right: 0;
	color: grey;
	font-size: 36px;
	padding: 12px;
}
.fa-bars:hover
{
	background-color: silver;
	color: black;
	cursor: pointer;
}
#Tab
{
	height: 100%;
	position: fixed;
	background-color: black;
	width: 60%;
	right: 0;
	top: 0;
	padding: 0;
	display: none;
}
#Tab ul
{
	list-style-type: none;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}
#Tab li
{
	text-align: center;
	margin: auto;
	font-size: 36px;
	color: grey;
	padding: 16px;
}
#Tab li:hover
{
	color: white;
	cursor: pointer;
}
.fa-remove
{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 36px;
	padding: 12px;
	color: white;
}
.fa-remove:hover
{
	color: black;
	background-color: silver;
}
.Body
{
	width: 58%;
	float: right;
	margin: 12px;
}
.Name
{
	text-align: center;
	line-height: 48px;
}
.Name h1
{
	font-size: 64px;
	font-weight: bolder;
	height: 220px;
	line-height: 360px;
}
.Down
{
	padding: 12px 24px;
	background-color: #f1f1f1;
	border-style: none;
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 22px;
}
.Down:hover
{
	background-color: #ccc;
	cursor: pointer;
}
h2
{
	height: 220px;
	line-height: 360px;
	font-size: 30px;
}
.Img
{
	display: flex;
	border-top: solid grey 1px;
	padding: 0;
}
.Img2
{
	width: 48%;
	padding: 8px;
}
.Img2 img
{
	width: 100%;
	margin-top: 12px;
	padding: 0;
}
h3
{
	margin-top: 26px;
	margin-bottom: 26px;
	font-size: 30px;
	color: silver;
}
.Major
{
	margin-top: 16px;
	margin-bottom: 16px;
}
.Rate
{
	background-color: silver;
	padding: 0;
	margin-left: 6px;
}
.Pers
{
	background-color: grey;
	height: 24px;
	width: 50%;
	text-align: center;
	color: white;
}
.Achi
{
	display: flex;
	margin-top: 32px;
}
.Info
{
	width: 25%;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: grey;
	color: white;
	text-align: center;
}
.Cmt
{
	display: flex;
}
.Per
{
	border-radius: 80px;
	height: 80px;
	width: 80px;
	margin-right: 16px;
}
.Detail span
{
	padding: 0;
	color: black;
	padding-right: 16px;
}
.Detail p
{
	color: grey;
	line-height: 25px;
}
.Price
{
	display: flex;
	text-align: center;
}
.Cost
{
	width: 50%;
	padding: 0;
	margin: 6px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.Cost:hover
{
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.Kind
{
	color: white;
	font-size: 24px;
	line-height: 68px;
	height: 68px;
	background-color: grey;
}
.Kinds
{
	padding: 16px;
	border-bottom: grey solid 1px;
	color: grey;
}
.Kinds span
{
	font-size: 24px;
}
.Sign
{
	padding: 24px 100px;
	background-color: silver;
}
.Up
{
	padding: 12px 24px;
	background-color: white;
}
.Contact
{
	border-top: solid silver 0.5px;
	font-size: 16px;
}
.Contact i
{
	font-size: 36px;
}
.Mess
{
	font-size: 15px;
	color: grey;
}
.Mess input
{
	width: 100%;
	padding: 16px 8px;
	margin-bottom: 8px;
	font-size: 15px;
}
.Foot
{
	padding: 64px;
	margin-top: 64px;
	text-align: center;
	font-size: 15px;
	color: grey;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -30px;
	margin-bottom: -24px;
}
.Foot a
{
	color: grey;
}
.Foot i
{
	padding: 0;
	font-size: 24px;
}
.Foot i:hover
{
	opacity: 0.6;
}
@media all and (max-width: 600px)
{
	*
	{
		background-color: blue;
	}
}
@media all and (max-width: 1000px) and (min-width: 601px)
{
	.Avt
	{
		position: static;
		margin-right: 20%;
		margin-left: 20%;
		width: 60%;
	}
	.Body
	{
		width: 100%;
		margin: 0;
		padding: 12px;
		float: none;
	}
	.Img
	{
		display: block;
	}
	.Img2
	{
		width: 100%;
	}
	.Achi
	{
		display: block;
	}
	.Info
	{
		width: 100%;
	}
	.Price
	{
		display: block;
	}
	.Cost
	{
		width: 100%;
	}
}
/* Lỗi:
1. K nhận reponsive width<600px;
2. khi thay đổi kích thước font-size tự động thay đổi theo mà k giữ nguyên đc;
3. Menu chưa có hiệu ứng mở ra