ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
ul li
{
	display: block;
	position: relative;
	float: left;
	color: gold;
	height: 24px;
	width: 200px;
	text-align: center;
	line-height: 24px;
	background-color: black;
}

li ul
{
	display: none;
}
ul li:hover
{
	background-color: gold;
	color: black;
}
li:hover>ul
{
	display: block;
	position: absolute;
}
li:hover li
{
	float: none;
}
ul ul ul
{
	left: 100%;
	top: 0;
}