*
{
	margin: auto;
	padding: 0;
	font-family: sans-serif;
}
header
{
	display: flex;
	margin: 15px;
	color: #999;
}
header div
{
	width: 33.3%;
}
.Logo
{
	height: 100px;
	width: 165px;
	margin-left: 30px;
}
.Search
{
	height: 30px;
	width: 354px;
	border-radius: 30px;
	border: 1px grey solid;
	margin: 40px auto;
	display: flex;
}
.Search input
{
	text-align: left;
	width: 80%;
	outline: none;
	margin: 8px 15px;
}
.Search i
{
	width: 5%;
	line-height: 30px;
}
.Line
{
	padding: 30px;
	display: flex;
	width: 100%;
}
.Line div
{
	width: 30%;
}
.Contact
{
	width: 100px;
	text-align: center;
}
.Contact i
{
	font-size: 30px;
}
.Contact p
{
	line-height: 2.24;
	font-size: 14px;
	color: black;
}
.Number
{
	color: red!important;
	line-height: 1.5!important;
	font-size: 18px!important;
	font-weight: bold!important;
}


#Menu
{
}
ul
{
	display: flex;
	list-style-type: none;
	background-color: white;
}
li
{
	line-height: 50px;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	background-color: white;
}
li p
{
	margin-left: 10px;
}
li i
{
	width: 14px;
	margin-left: 10px;
}
.Red
{
	color: red;
}
li p:hover
{
	color: red;
	cursor: pointer;
}
li ul
{
	display: none;
}
li ul i
{
	float: right;
	line-height: inherit!important;
}
li:hover > ul
{
	display: block;
	position: absolute;
	width: 200px;
}
ul ul ul
{
	left: 100%;
	top: 0;
	bottom: 0;
}


body
{
	height: 5000px;
}
.Apear
{
	width: 20%;
	color: #999;
	font-size: 12px;
}
.Apear div
{
	display: none;
	margin-left: 36px;
}
.Search2
{
	border-bottom: rgb(153,153,153) 1px solid;
}
.Apear input
{
	height: 30px;
	border: none;
	outline: none;
}
.Sticky
{
	position: sticky;
	top: 0;
	z-index: 1;
}
.Sticky .Apear div
{
	display: flex;
}
.Sticky .Apear .fas
{
	font-size: 24px;
	color: black;
	margin-left: auto;
	margin-right: 36px;
}

.Collection
{
	width: 100%;
}
.Kind
{
	width: 95%;
	margin: 30px auto;
}
.Kind img
{
	margin: 0;
}
.Flex
{
	display: flex;
}
.w100
{
	width: 100%;
}
.w50
{
	width: 50%;
}

.Video
{
	width: 95%;
}
.Video div div
{
	width: 48%;
	margin: 1%;
}
.Video iframe
{
	width: 100%;
	height: 306px;
}
.Video img
{
	width: 100%;
}

.Border
{
	width: 95%;
	height: 30px;
	border-bottom: 1px solid grey;
	position: relative;
}
.Border p
{
	position: absolute;
	left: 40%;
	top: 25%;
	background-color: white;
	padding: 10px;
	font-size: 25px;
}

#Product1 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als17608_5d71f2c4425841b68b5290f94fcf6c22_large.jpg);}
#Product2 {background-image: url(https://product.hstatic.net/1000199383/product/-so-mi-nam-aristino-als00108-03_485c3dd744b94fa3968ecd4bc639be41_large_043c0b1e46a64d52ac859faeb5dd51f2_large.jpg);}
#Product3 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als15808-03_e9519cbf2763431d9a891ead567bca9d_large.jpg);}
#Product4 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als04108-03_9033675a5a254b1ebe0126da545337ee_large.jpg);}
#Product5 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als13708_d77aa480c7cd45f6801962762156b164_large.jpg);}
#Product6 {background-image: url(https://product.hstatic.net/1000199383/product/-so-mi-nam-aristino-ass054s8-03_8068ff6a4c1e4d14bf8fbaabf8f9d810_large_997e8d3e3113464788aabbad3cc1cc4f_large.jpg);}
#Product7 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-ass069s8-01_9d33c9a2c1504e749b4667f5a5cd3c1b_large.jpg);}
#Product8 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-ass049s8_c0d8ce92d113414fbddee34d58282110_large.jpg);}
#Product10 {background-image: url(https://product.hstatic.net/1000199383/product/so-mi-nam-aristino-ass031s8_70e99812794f4394bcac56b36354cd26_large__1__b52e8fa806c44c95b61039850298b9c4_large.jpg);}
#Product11 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als05308_f0cc8ae4c0bf4351b114040eeb951e63_large.jpg);}
#Product12 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als14208_067286bbdba44c7a96c16f735c08c944_large.jpg);}
#Product13 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als14108_6a6cfaa0efa943bfafb74687e1fafed8_large.jpg);}
#Product14 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als18908_e0ba7fbe66964178a3d64aa9ea7a3f3c_large.jpg);}
#Product15 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als18808_ac513a0ad91b4842a2dad1b42ffc6c78_large.jpg);}
#Product16 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-als35907-04_07f83ec071a74f23886558a87c1eb39c_large.jpg);}
#Product16 {background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-ass156s8-01_5f06b05c7af34d2eb07af21836828f16_large.jpg);}

.Info
{
	background-image: url(https://product.hstatic.net/1000199383/product/ao-so-mi-nam-aristino-ass156s8-01_5f06b05c7af34d2eb07af21836828f16_large.jpg);
}
.Slide
{
	display: flex;
}
.Slide div
{
	width: 25%;
	height: 500px;
}